!!!
html
    head
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="styles.css")
        script(src="client.js")
        title qwyp
    body
        #join
            form.form-inline
                h2 Join
                input.input-block-level(type="text", placeholder="Name")
        #chat
            #messages
            form.form-inline
                input.input-block-level(type="text")
