body {
  background: #111111;
  color: #eeeeee; }

#messages {
  margin-bottom: 50px; }

.message {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px; }
  .message .from {
    font-weight: bold;
    margin-right: 5px; }
  .message.mine {
    opacity: 0.8; }

form {
  padding: 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.1); }

#chat form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
